section.contact{
  background-image: url('/images/contact_background.jpg');
  background-size: cover;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 80px;
  .title{
    color: #fff;
    font-family: $font-Futura-Medium;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
    right: 140px;
  }
  padding-right: 15%;
  padding-left: 15%;
  @include very-small-device(){
    padding-right: 0px;
    padding-left: 0px;
  }

  input, textarea{
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    padding: 0px 10px;
    outline: none;
    color: #000;
    height: 50px;
    font-family: $font-Futura-Medium;
    color: #4A4A4A;
    font-size: 16px;
  }

  #nom_contact, #prenom_contact{
    width: calc(50% - 35px);
    display: inline-block;
    float: left;
    margin-top: 70px;
    @include phone(){
      width: calc(100% - 20px);
      margin-top: 0px;
    }
  }

  @include phone(){
    #nom_contact{
      margin-top: 70px;
    }
  }

  #prenom_contact{
    margin-left: 30px;
    @include phone(){
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  #email_contact, #objet_contact{
    width: calc(50% - 35px);
    margin-top: 20px;
    display: inline-block;
    float: left;
    @include phone(){
      width: calc(100% - 20px);
    }
  }

  #objet_contact{
    margin-left: 30px;
    @include phone(){
      margin-left: 0px;
    }
  }

  #message_contact{
    width: calc(100% - 20px);
    margin-top: 20px;
    padding-top: 10px;
    height: auto;
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    max-height: 300px;
  }

  #submit_contact{
    width: 30%;
    margin-left: 70%;
    display: block;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    outline: none;
    cursor: pointer;
    font-family: $font-Futura-Medium;
    font-size: 16px;
    transition: color 0.5s, background-color 0.5s;
    &:hover{
      background-color: $color-orange;
      color: #fff;
    }
    @include phone(){
      width: 55%;
      margin: 20px auto;
    }
    @include very-small-device(){
      width: 80%;
    }
  }
}