footer{
  background-color: #191919;
  color: #9B9B9B;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  @include mobile-landscape(){
    height: 52px;
  }
  .list{
    display: inline-block;
    height: 100%;
    @include very-small-device(){
      width: 100%;
      text-align: left;
    }
    li{
      display: inline-block;
      margin-left: 35px;
      font-family: $font-Futura-Medium;
      font-size: 11px;
      &:first-child{
        margin-left: 0px;
      }
      @include very-small-device(){
        display: block;
        margin-left: 35px;
        margin-top: 15px;
        &:first-child{
          margin-left: 35px;
        }
      }
    }
  }
}