footer{
  background-color: #191919;
  color: #9B9B9B;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  .list{
    display: inline-block;
    height: 100%;
    li{
      display: inline-block;
      margin-left: 35px;
      font-family: $font-Futura-Medium;
      font-size: 11px;
      &:first-child{
        margin-left: 0px;
      }
    }
  }
}