section.group{
  .title-group{
    font-size: 40px;
    color: #000;
    margin-top: 100px;

    font-family: $font-Futura-Medium;
  }
  .history{
    height: 500px;
    margin-top: 80px;
    position :relative;
    .history-background{
      height: 100%;
      width: 69%;
      padding-left: 25%;
      padding-right: 6%;
      .history-background-image{
        background-image: url('/images/history_background.jpg');
        height: 100%;
        width: 100%;
        .scrollme {
          position: absolute;
          left:8%;
          .history-content {
            background-color: #fff;
            width: 500px;
            position: absolute;
            left: 8%;
            top: 200px;
            padding: 60px 30px;
            .history-title {
              font-size: 25px;
              font-family: $font-Futura-Medium;
            }
            .history-text {
              color: #9B9B9B;
              font-size: 15px;
              margin-top: 30px;
              line-height: 25px;
              font-family: $font-Chaparral-Pro-Regular;
            }

            .learn-more {
              margin-top: 50px;
              cursor: pointer;
              .arrow-right {
                display: inline-block;
                height: 50px;
                width: 50px;
                background-color: $color-orange;
                border-radius: 50%;
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  top: 18px;
                  left: 21px;
                  width: 9px;
                  height: 15.5px;
                  background-image: url("/images/arrow_right.png");
                  background-size: cover;
                }
              }
              span {
                font-family: $font-Futura-Bold;
                position: relative;
                bottom: 20px;
                left: 20px;
                letter-spacing: 0.5px;
                color: $color-orange;
              }
            }
          }
        }
      }
    }
  }


  .expertise-content{
    text-align: center;
    .expertise{
      width: 92%;
      height: 500px;
      margin: 0 auto;
      margin-top: 120px;
      display: inline-block;
      .slider, .our-expertise{
        display: inline-block;
        float: left;
      }
      .slider{
          width: 40%;
          height: 500px;
        display: inline-block;
        .image{
         // height: 100%;
          //width: calc(100% - 100px);
         // background-image: url('/images/slider_1.jpg');
          //background-size: cover;
          img{
            width: 100%;
          }
        }
      }
      .dotsemplacement{
        display: inline-block;
        width: 5%;
        position: relative;
        top: 230px;
        ul{
          li{
            margin-bottom: 10px;
            button{
              cursor:pointer;
              height: 15px;
              width: 15px;
              border: none;
              border-radius: 50px;
              &:focus{
                outline: none;
              }
            }
          }
        }
        .slick-active{
          button{
            background-color: $color-orange;
          }
        }
      }
      .our-expertise{
        float: right;
        display: inline-block;
        width: 50%;
        height: 80%;
        position: relative;
        top: 10%;
        -moz-box-shadow: 0px 2px 25px 1px #656565;
        -webkit-box-shadow: 0px 2px 25px 1px #656565;
        -o-box-shadow: 0px 2px 25px 1px #656565;
        box-shadow: 0px 2px 25px 1px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
        .expertise-text-container{
          padding: 40px 70px;

          .top{
            h3{
              font-size: 25px;
              display: inline-block;
              text-align: right;
              float: left;
              font-family: $font-Futura-Medium;
            }
            .expertise-pagination-container{
              float: right;
              display: inline-block;
              width: 65px;
              position: relative;
              bottom: 21px;
              left: 28px;
            h4{
              font-family: futura;
              position: relative;
              right: 20px;
              top: 9px;
              font-size: 40px;
            }
              h5{
                color:$color-lightgrey;
                font-size: 13px;
                position: relative;
                left: 12px;
              }
              .pagination-hr{
                border-color: $color-darkgrey;
                transform: rotate(-45deg);
                border: solid 0.1px;
              }
            }
          }
          .bottom{
            display: inline-block;
            p{
              width: 70%;
              text-align: left;
              padding-left: 30px;
              border-left: orange solid 3px;
              color: $color-darkgrey;
              font-size: 15px;
              margin-top: 30px;
              line-height: 25px;
              font-family: $font-Chaparral-Pro-Regular;
            }
          }
        }
      }
    }
  }

}
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
