section.group{
  .title-group{
    font-size: 40px;
    color: #000;
    margin-top: 100px;
    padding-left: 120px;
    font-family: $font-Futura-Medium;
    display: inline-block;
    @include very-small-device(){
      text-align: center;
      width: 100%;
      padding-left: 0;
    }
  }
  .history{
    height: 500px;
    margin-top: 80px;
    position :relative;
    @include very-small-device(){
      height: auto;
      font-size: 35px;
    }
    .history-background{
      height: 100%;
      width: 69%;
      padding-left: 25%;
      padding-right: 6%;
      @include small-device(){
        height: 100%;
        width: 100%;
        padding-left: 0%;
         padding-right: 0%;
      }
      @include very-small-device(){
        padding: 0;
        height: 370px;
        padding-left: 0%;
        padding-right: 0%;
      }
      .history-background-image{
        background-image: url('/images/history_background.jpg');
        height: 100%;
        width: 100%;
        .scrollme {
          position: absolute;
          left:8%;
          @include very-small-device(){
            display: none;
          }
          .history-content {
            background-color: #fff;
            width: 500px;
            position: absolute;
            left: 8%;
            top: 200px;
            padding: 60px 30px;
            @include phone(){
              width: 400px;
            }
            @include very-small-device(){
              width: 100%;
              left: 0;
              top: 200px;

              padding: 0 30px;
            }
            .history-title {
              font-size: 25px;
              font-family: $font-Futura-Medium;
            }
            .history-text {
              color: #9B9B9B;
              font-size: 15px;
              margin-top: 30px;
              line-height: 25px;
              font-family: $font-Chaparral-Pro-Regular;
              line-height: 25px;
            }

            .learn-more {
              margin-top: 50px;
              cursor: pointer;

              &:hover {
                .arrow-right {
                  border: 1px solid $color-orange;
                  background-color: $color-orange;
                  &:before {
                    background-image: url("/images/arrow_right.png");
                    background-size: cover;
                  }
                }
              }
              .arrow-right {
                display: inline-block;
                height: 50px;
                width: 50px;
                background-color: #FFFFFF;
                border: 1px solid $color-orange;
                border-radius: 50%;
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  top: 18px;
                  left: 21px;
                  width: 9px;
                  height: 15.5px;
                  background-image: url("/images/arrow-right-orange.png");
                  background-size: cover;
                }
              }
              span {
                font-family: $font-Futura-Medium;
                position: relative;
                bottom: 20px;
                left: 20px;
                letter-spacing: 0.5px;
                color: $color-orange;
              }
            }
          }
        }
      }
    }

    .scrollme.scrollme-mobile{
      display: none;
      margin-top:40px;
      padding: 0 20px;
      @include very-small-device(){
        display: block;
      }

      .history-title{
        font-size: 25px;
        color: #000000;
        font-family: $font-Futura-Medium;

      }
      .history-text{
        font-family: $font-Chaparral-Pro-Regular;
        color: #9B9B9B;
        line-height: 20px;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .learn-more {
        margin-top: 15px;
        cursor: pointer;
        .arrow-right {
          display: inline-block;
          height: 50px;
          width: 50px;
          background-color: $color-orange;
          border-radius: 50%;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            top: 18px;
            left: 21px;
            width: 9px;
            height: 15.5px;
            background-image: url("/images/arrow_right.png");
            background-size: cover;
          }
        }
        span {
          font-family: $font-Futura-Bold;
          position: relative;
          bottom: 20px;
          left: 20px;
          letter-spacing: 0.5px;
          color: $color-orange;

          @include very-small-device() {
            font-size: 16px;
            bottom: 19px;
            left: 10px;
          }
        }
      }

    }
  }


  .expertise-content{
    text-align: center;
    @include phone(){
    }
    @include very-small-device(){
      width: 100%;
    }
    .expertise{
      width: 92%;
      margin: 0 auto;
      margin-top: 120px;
      display: inline-block;
      @include very-small-device(){
        width: 100%;
        margin-top:60px;
      }
      .slider, .our-expertise{
        display: inline-block;
        float: left;
      }
      .slider{
        width: 50%;
        height: 500px;
        display: inline-block;
        @include small-device{
          width: 50%;
        }
        @include phone(){
          display: block;
          margin:0 auto;
          width: 70%;
          float:initial;
          position: relative;
          left:3%;
        }
        @include very-small-device(){
          width: 100%;
          height: 100px;
          left: 0;
        }
        .image{
          border: none;
          outline:none;

          // height: 100%;
          //width: calc(100% - 100px);
         // background-image: url('/images/slider_1.jpg');
          //background-size: cover;
          img{
            width: 100%;
          }
        }
      }
      .dotsemplacement{
        display: inline-block;
        float: right;
        position: relative;
        top: 230px;
        right: 6%;
        @include small-device(){
        }
        @include very-small-device(){
          display: inline-block;
          float: initial;
          position: relative;
          top: 0px;
          margin: 10px auto;
          right: 0%;
          width: 22%;
        }
        ul{
          width: 0;
          @include very-small-device(){
            width: 100%;
          }
          li{

            width: 0;
            margin-bottom: 10px;

            @include small-device(){
              margin-bottom: 0px;
            }
            @include very-small-device(){
              width: 100%;
              display: inline;
              margin-bottom: 10px;
              margin: 20px 6%;
            }
            button{
              font-size: 0;
              cursor:pointer;
              height: 12px;
              width: 12px;
              border: none;
              border-radius: 50px;
              z-index: 4;
              position: relative;
              &:focus{
                outline: none;
              }
              @include small-device(){
                height: 12px;
                width: 12px;
                background: $color-lightgrey;
              }
            }
          }
        }
        .slick-active{
          button{
            background-color: $color-orange;
          }
        }
      }
      .our-expertise{
        float: right;
        display: inline-block;
        width: 50%;
        height:406px;
        position: relative;
        top: 63px;
        left: 23px;

        @include small-device(){
          width: 50%;
          margin-right: 0%;
          top: 48px;
          left: -1%;



        }
        @include phone(){
          width: 70%;
          margin: 0 auto 40px;
          display: block;
          top: 48px;
          float: initial;
        }
        @include very-small-device(){
          width: 100%;
          z-index: -3;
        }
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
        .expertise-text-container{
          padding: 2% 4%;
      @include very-small-device(){
        height: 0;
      }
          .top {
            h3 {
              font-size: 25px;
              display: inline-block;
              text-align: right;
              float: left;
              margin-top: 25px;
              font-family: $font-Futura-Medium;
              @include small-device {
                position: relative;
                top: 22px;
              }
            }
            .expertise-pagination-container {
              float: right;
              display: inline-block;
              width: 14%;
              position: relative;
              bottom: -4px;
              right: -13px;
              @include small-device() {
                width: 19%;
              }
              h4 {
                font-family: futura;
                position: relative;
                right: 50%;
                top: 9px;
                font-size: 40px;
              }
              h5 {
                color: $color-orange;
                font-size: 13px;
                position: absolute;
                left: 75%;
                top: 73px;
                @include small-device() {
                  color: $color-orange;
                }

              }

              .pagination-hr {

                transform: rotate(-65deg);
                border: solid 0.1px $color-orange;
                @include small-device() {
                  border: solid 0.1px $color-orange;

                }
              }
            }
          }
          .bottom{
            display: inline-block;
            p{
              width: 70%;
              text-align: left;
              padding-left: 30px;
              border-left: orange solid 3px;
              color: $color-darkgrey;
              font-size: 15px;
              margin-top: 30px;
              line-height: 25px;
              font-family: $font-Chaparral-Pro-Regular;
              @include small-device(){
                width: 75%;
              }
              @include phone(){

              }
            }
          }
        }
      }
    }
  }

}
/* Slider */

.slick-slider {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width:80%;
  float:left;
  @include phone(){
    width:86%;
  }
  @include very-small-device(){
    width: 100%;
  }
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.phone{
  display: none;
  @include phone(){
    display: block;
  }
  @include very-small-device(){
    display: none;
  }
}
.desktop{
  display: block;
  @include phone(){
    display: none;
  }
  @include very-small-device(){
    display: block;
  }
}