@-webkit-keyframes rotate1 {
  0%   {                transform: rotate(0deg);
    top:1px;}
  100% {transform: rotate(45deg);
    top:1px;}
}
@-webkit-keyframes rotate2 {
  0%   {

    transform: rotate(0deg);
  top:1px;}


  100% {transform: rotate(-45deg);
    top:1px;}
}
@-webkit-keyframes rotateinitial1 {
  0%   {                transform: rotate(45deg);
    top:1px;
  }
  100% {transform: rotate(0deg);
    bottom: 8px;

  }
}
@-webkit-keyframes rotateinitial2 {
  0%   {

    transform: rotate(-45deg);
    top: 1px;
  }


  100% {transform: rotate(0deg);
    top: 8px;
  }
}

header{
  height: 60px;
  width: 100%;
  //background-color: #fff;
  position: absolute;
  .logo, .menu, .menu li{
    display: inline-block;
    height: 100%;
    float: left;
    margin-left: 7%;
  }
  .logo{
    width: 140px;
    text-align: center;
    margin-left: 5%;

    img{
      width: 34px;
      position: relative;
      top: 22px;
      left: -13%;
      @include small-device(){

      }
    }
  }

  .burger{
    display: none;
    height: 20px;
    width: 28px;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    cursor: pointer;
    .line.active{
      background: transparent;
      &:before{
        -webkit-animation-name: rotate1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        animation-name: rotate1;
        animation-duration: 0.5s;

        transform: rotate(45deg);
        top:1px;
        background: black;
        height: 2px;
      }
      &:after{
        -webkit-animation-name: rotate2; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        animation-name: rotate2;
        animation-duration: 0.5s;

        transform: rotate(-45deg);
        top:1px;
        background: black;
        height: 2px;
      }
    }
    .line{
      height: 4px;
      width: 28px;
      background-color: #fff;
      border-radius: 20px;
      position: relative;
      top: 9px;
      &:before{
        -webkit-animation-name: rotateinitial1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        animation-name: rotateinitial1;
        animation-duration: 0.5s;
        content: "";
        height: 4px;
        width: 28px;
        background-color: #fff;
        border-radius: 20px;
        position:absolute;
        bottom: 8px;
        left: 0px;
      }
      &:after{
        -webkit-animation-name: rotateinitial2; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        animation-name: rotateinitial2;
        animation-duration: 0.5s;
        content: "";
        height: 4px;
        width: 28px;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        top: 8px;
      }
    }

    @include small-device(){
      display: inline-block;
    }
  }

  .menu{
    display: block ;
    @include small-device(){
      display: none;
      width: 100%;
      position: absolute;
      right: 0;
    }
  img{
  display: none ;
  @include small-device(){
    display: inline-block;
    width: 20px;
    position: relative;
    top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    right: -10%;
  }
}
//    margin-left:60px;
    ul{
      @include small-device(){
        background: white;
        color:black;
      }
    }
    div{
      display: none;
      @include small-device(){
        display: block;
        background: white;
        height: 80px;
      }

    }
    li{
      text-transform: capitalize;
      position: relative;
      cursor: pointer;
      margin-left: 40px;
      padding: 0px 10px;
      @include small-device(){
        float: initial;
        display: list-item;
        background: white;
        margin: 0;
      }
      a{
        color: white;
        text-decoration: none;
        position: relative;
        top: 25px;
        font-size: 13px;
        font-family: $font-Futura-Medium;
        @include small-device(){
          color:black;
          padding-left: 5px;
          padding-right: 5px;
          margin-left: 10%;

        }
      }

      &:hover{
        border-bottom: 5px solid $color-orange;
        padding-bottom: 5px;
        box-sizing: border-box;
        @include small-device(){
          border-bottom: 5px solid transparent;
        }
        a{
          color: $color-orange;

          @include small-device(){
            &:hover{
              border-bottom: 4px solid $color-orange;

            }
            border-bottom: 4px solid $color-orange;
            padding-bottom: 13px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
      &.active{
        border-bottom: 5px solid $color-orange;
        padding-bottom: 5px;

        box-sizing: border-box;
        @include small-device(){
          border-bottom: 5px solid transparent;
          padding-left: 5px;
          padding-right: 5px;
        }
        a{
          color: $color-orange;
          @include small-device(){
            color:black;
            border-bottom: 4px solid $color-orange;
            padding-bottom: 13px;
            padding-left: 12px;
            padding-right: 12px;
          }
        }
      }
    }
    .last{
      @include small-device(){
        height: 100vh;
      }

    }
  }
}

