header{
  height: 60px;
  width: 100%;
  //background-color: #fff;
  position: absolute;
  .logo, .menu, .menu li{
    display: inline-block;
    height: 100%;
    float: left;
  }
  .logo{
    width: 140px;

    text-align: center;
    img{
      width: 34px;
      position: relative;
      top: 22px;
      left: 35px;
      @include small-device(){
        left: 0px;
      }
    }
  }

  .burger{
    display: none;
    height: 20px;
    width: 28px;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    cursor: pointer;

    .line{
      height: 4px;
      width: 28px;
      background-color: #fff;
      border-radius: 20px;
      position: relative;
      top: 9px;
      &:before{
        content: "";
        height: 4px;
        width: 28px;
        background-color: #fff;
        border-radius: 20px;
        position:absolute;
        bottom: 8px;
        left: 0px;
      }
      &:after{
        content: "";
        height: 4px;
        width: 28px;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        top: 8px;
      }
    }

    @include small-device(){
      display: inline-block;
    }
  }

  .menu{
    @include small-device(){
      display: none;
    }

    margin-left:60px;
    li{
      text-transform: capitalize;
      position: relative;
      cursor: pointer;
      @include small-device(){
        float: initial;
        display: list-item;
      }
      a{
        color: white;
        text-decoration: none;
        position: relative;
        top: 25px;
        font-size: 13px;
        font-family: $font-Futura-Medium;
      }
      margin-left: 40px;
      padding: 0px 10px;
      &:hover{
        border-bottom: 5px solid $color-orange;
        padding-bottom: 5px;
        box-sizing: border-box;
        a{
          color: $color-orange;
        }
      }
      &.active{
        border-bottom: 5px solid $color-orange;
        padding-bottom: 5px;
        box-sizing: border-box;
        a{
          color: $color-orange;
        }
      }
    }
  }
}

.rotateanim{
  
}