section.partners {
  margin-top: 90px;
  width: 100%;
  text-align: center;
  .container {
    display: inline-block;
    width: 92%;
    .bloc-container {
      width: calc(100% / 3);
      display: inline-block;
      float: left;
      height: 200px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 1px;
      border: 1px solid #e5e5e5;
      text-align: center;

      .bloc-table {
        display: table;
        height: 100%;
        width: 100%;

        .title-partners {
          font-size: 20px;
          color: #000;
          font-family: $font-Futura-Medium;
          text-transform: uppercase;
          display: table-cell;
          vertical-align: middle;
        }
      }

        .partenaires {
          display: inline-block;
          margin-top: 55px;
        }
        .partenaire-1 {
          background-image: url("/images/partenaire-1.png");
          width: 122px;
          height: 81px;
          margin-left: 0;
        }
        .partenaire-2 {
          background-image: url("/images/partenaire-2.png");
          width: 72px;
          height: 80px;
        }
        .partenaire-3 {
          background-image: url("/images/partenaire-3.png");
          width: 142px;
          height: 80px;
        }
        .partenaire-4 {
          background-image: url("/images/partenaire-4.png");
          width: 164px;
          height: 81px;
        }
        .partenaire-5 {
          background-image: url("/images/partenaire-5.png");
          width: 221px;
          height: 61px;
          background-size: contain;
        }
      }


    .bloc-container:nth-of-type(4), .bloc-container:nth-of-type(5), .bloc-container:nth-of-type(6) {
      border-top: none;
    }
    .bloc-container:nth-of-type(1), .bloc-container:nth-of-type(2), .bloc-container:nth-of-type(4), .bloc-container:nth-of-type(5) {
      border-right: none;
    }
  }
}